# Python
__pycache__/
*.py[cod]
*.pyo

# Ambientes virtuais
venv/
.env
.env.*

# IDEs
.idea/
.vscode/
.vs/

# Logs
/logs/
*.log
bkp/

# Build
build/
dist/

# Programas externos
PROGRAMAS/
planilhas/

# Documentação gerada automaticamente (se aplicável)
docs/

# Arquivos Excel na raiz
*.xlsx

#spec 
*.spec

#pasta browser
pncp_shared/resources/browser/*
src/pncp_shared/resources/browser/
